:root {
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Galmuri11";
  font-weight: bold;
  src: url("./features/RunningGame/fonts/Galmuri11_Bold.ttf") format("truetype");
}

body {
}
